<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="inchoriya">
    <meta name="date" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon">
    <title>로그인</title>
</head>

<body>
<form action="mLogin" method="post">
    <table>
        <tr>
            <th>아이디</th>
            <td><input type="text" name="memId"/></td>
        </tr>
        <tr>
            <th>비밀번호</th>
            <td><input type="password" name="memPw"/></td>
        </tr>
        <tr>
            <th colspan="2">
                <input type="submit" value="로그인">
            </th>

        </tr>

    </table>

</form>
</body>

<script>
    let aa = '안녕하세요';
    console.log(aa);
</script>

</html>