<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icia.secu.dao.MemberDAO">

    <select id="idoverlap" parameterType="String" resultType="String">
        SELECT MEMID FROM MEMBER WHERE MEMID = #{memId}
    </select>

    <insert id="mJoin" parameterType="member">
        INSERT INTO MEMBER VALUES(#{memId}, #{memPw}, #{memName}, #{memBirth}, #{memGender}
        , #{memEmail}, #{memPhone}, #{memAddr}, #{memProfileName})
    </insert>

    <select id="mList" resultType="member">
        SELECT * FROM MEMBER
    </select>

    <select id="mView" parameterType="String" resultType="member">
        SELECT * FROM MEMBER WHERE MEMID = #{memId}
    </select>
</mapper>